@import "../../src/scss/variable";

.b-bg {
  position: relative;
  width: 100vw;
  left: -50vw;
  margin-left: 50%;
  .b-bg-apla {
    position: absolute;
    left: 0;
    // top: 0;
    z-index: -99;
    width: 100%;
    height: calc(100% - 200px);
  }
}
.bg-home {
  position: relative;
  z-index: 99;
  width: 100%;
  left: initial;
  margin-left: 0;
  .b-bg-apla {
    width: 100%;
    height: calc(100% + 200px) !important;
    top: -120px !important;
    background-color: var(--white);
    @media #{$md} {
      height: calc(100% + 150px) !important;
      top: -100px !important;
    }
    @media #{$sm} {
      height: calc(100% + 100px) !important;
      top: -70px !important;
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: -100%;
      background-color: var(--white);
    }
  }
  .container {
    padding-left: 0;
    // padding-right: 0;
  }
}
.mt-50 {
  margin-top: -50px;
}
.acf-block-preview .b-bg-apla {
  //   margin-top: 0px !important;
  display: none;
}

.acf-block-preview .b-bg {
  border: 1px solid var(--main);
  padding: 20px;
  width: 100%;
  left: initial;
  margin-left: initial;
  margin-top: 50px !important;
  &:before {
    content: "Kontener BG";
    color: var(--white);
    padding: 3px 10px;
    font-size: 12px;
    background-color: var(--main);
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
