.b-bullets {
  background-color: var(--body);
  padding: 20px 0;
  position: relative;
  width: 100vw;
  left: -50vw;
  margin-left: 50%;
  .b-bullets__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    @media #{$md} {
      flex-wrap: wrap;
    }
  }
  .b-bullet {
    text-align: center;
    @media #{$md} {
      width: calc(50% - 15px);
    }
    @media #{$xs} {
      width: 100%;
    }
    h4 {
      font-size: 18px;
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
    }
  }
}
