html {
  scroll-behavior: smooth;
  // overflow-x: hidden;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  // background-color: var(--gray);
}
main {
  // overflow: hidden;
}

.container {
  max-width: 1570px;
  width: 100%;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  @media #{$sm} {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.container-large {
  position: relative;
  width: 100vw;
  left: -50vw;
  margin-left: 50%;
}
.container-narrow {
  max-width: 940px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  @media #{$sm} {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.entry-content {
  .container-narrow {
    @media #{$sm} {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

.container-full {
  // width: calc(100vw - 9px);
  // max-width: 1600px;
  max-width: 100%;
  // width: 100vw;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  @media #{$md} {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#main {
  position: relative;
  // z-index: 99;
  // margin: 50px 0;
}

#go-to-top {
  cursor: pointer;
  position: fixed;
  text-align: center;
  z-index: 22;
  right: 36px;
  bottom: 0px;
  width: 39px;
  height: 39px;
  border-radius: 100%;
  transform: translate(0, 200px);
  // padding: 11px;
  transition: all 0.2s linear;
  border: 2px solid var(--main1);
  path {
    fill: var(--main1) !important;
  }
  @media #{$sm} {
    bottom: 20px;
    right: 15px;
  }
  svg {
    margin-top: 5px;
    path {
      fill: var(--white);
    }
  }
  &:hover {
    background-color: var(--main);
    transform: translate(0, 100px), scale(1.1);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  }
}

#go-to-top.active {
  transform: translate(0, -150px);
  @media #{$xs} {
    transform: translate(0, -80px);
  }
}

.go-pagination {
  width: 100%;
  padding: 20px 0;
  margin: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  a {
    padding: 5px 1px;
    text-decoration: none;
    color: var(--black);
    &:hover {
      color: var(--main);
    }
  }
  span.current {
    background-color: var(--main);
    color: var(--white);
    padding: 5px 5px;
    border-radius: 3px;
  }
}

.rank-math-breadcrumb {
  p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // justify-content: center;
    gap: 10px;
    font-size: 0.8em;

    span {
      &:last-child {
        color: var(--black);
        font-size: 1em;
        display: inline-block;
        max-width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-overflow: "----";
        text-align: left;
      }
    }
  }
}

.cmplz-show {
  right: initial !important;
  left: 40px;
  transform: translate(0px, -36px);
  padding: 0;
}

.swiper-pagination {
  .swiper-pagination-bullet-active {
    background-color: var(--main);
  }
}

iframe {
  display: block;
  border: 0px;
}

.mb-10 {
  margin-bottom: 10px;
}
.mb-30 {
  margin-bottom: 30px;
}

img {
  border-radius: 10px !important;
}

.wp-block-media-text {
  .wp-block-media-text__content {
    @media #{$sm} {
      padding: 0 10px !important;
    }
  }
}
