.navbar__toggler {
  display: none;
  align-items: center;
  gap: 10px;
  transform: translateY(-2px);
  @media #{$md} {
    display: flex;
    position: relative;
    z-index: 99;
  }
  @media #{$sm} {
    padding-left: 0px;
  }
  @media #{$xs} {
    padding: 10px;
  }
  cursor: pointer;
  > span {
    font-size: 12px;
    transform: translateY(1px);
    color: var(--main);
  }
  .navbar__toggler__btn {
    span {
      display: block;
      width: 30px;
      height: 3px;
      border-radius: 100px;
      background-color: var(--main);
      transition: all 0.1s linear;
      margin-bottom: 0px;
      &:nth-child(2) {
        transform: translateY(3px);
        width: 25px;
      }
      &:nth-child(3) {
        transform: translateY(6px);
        width: 20px;
      }
    }
  }
  &:hover {
    .navbar__toggler__btn {
      span {
        display: block;
        width: 30px !important;
      }
    }
  }
}

.navbar__toggler.fixed {
  position: fixed;
  padding: 10px;
  top: 15px;
  right: 15px;
  background: var(--main1);
  height: 50px;
  border-radius: 100%;
  width: 50px;
  border: 1px solid var(--white);
  .navbar__toggler__btn {
    transform: translate(0px, -3px);
  }
}
