// navmenu opeaner
.entry-header {
  background-color: var(--light-black);
  position: relative;
  overflow: hidden;
  width: 100vw;
  left: -50vw;
  margin-left: 50%;
  margin-bottom: 30px;
  // padding-top: 150px;
  // padding-bottom: 100px;
  // margin-bottom: 50px;
  // margin-bottom: 50px;
  // @media #{$xs} {
  //   padding: 100px 0 30px 0;
  // }

  @media #{$xs} {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }
  .entry-header__wrap {
    position: relative;
    z-index: 1;
    margin: 100px 0;
    width: 65%;

    @media #{$sm} {
      padding: 0;
      width: 100%;
    }
  }
  .entry-label {
    position: relative;
    display: block;
    color: var(--white);
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding-left: 70px;
    &:before {
      content: "";
      position: absolute;
      width: 50px;
      height: 1px;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      background-color: var(--white);
    }
  }
  .entry-label--archive {
    display: none;
    text-transform: uppercase;
    color: var(--main);
    font-size: 16px;
    line-height: 0.5;
    @media #{$sm} {
      display: none;
    }
    &:before {
      background-color: var(--main);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .entry-title {
    color: var(--white);
    font-size: 41px;
    text-transform: uppercase;
    // line-height: normal;
    word-wrap: break-word;
    @media #{$sm} {
      font-size: 31px;
      br {
        display: none;
      }
    }
    @media #{$xs} {
      margin-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 31px;
      // color: var(--black);
    }
    @media #{$xs} {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .entry-title--archive {
    color: var(--black);
  }
  .entry-desc {
    max-width: 940px;
    margin-bottom: 30px;
    @media #{$sm} {
      padding-left: 15px;
      padding-right: 15px;
    }
    @media #{$xs} {
      padding-left: 0px;
      padding-right: 0px;
    }
    * {
      color: var(--white);
      // @media #{$xs} {
      //   color: var(--black);
      // }
    }
  }
  .entry-desc--archive {
    margin: 0 auto;
    * {
      color: var(--black);
    }
  }
  .img {
    background-color: var(--black);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    // @media #{$xs} {
    //   position: relative;
    //   top: initial;
    //   transform: initial;
    //   left: initial;
    //   overflow: hidden;
    // }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.5;
      // @media #{$xs} {
      //   height: 150px;
      // }
    }
  }
  .rank-math-breadcrumb {
    @media #{$sm} {
      padding-left: 15px;
      padding-right: 15px;
    }
    @media #{$xs} {
      padding-left: 0px;
      padding-right: 0px;
    }
    span {
      color: var(--white) !important;
      // @media #{$xs} {
      //   color: var(--black) !important;
      // }
    }
    p {
      @media #{$sm} {
        gap: 0 5px;
      }
    }
  }
}

.archive-cat {
  padding: 30px 0;
  text-align: center;
  span {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    li {
      a {
        display: block;
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        color: var(--main1);
        padding: 5px 25px;
        border: 1px solid var(--main1);
        transition: all 0.3s ease;
        @media #{$xs} {
          font-size: 12px;
          padding: 5px 10px;
        }
        &:hover {
          background-color: var(--main1);
          color: var(--white);
        }
      }
    }
    li.active {
      a {
        background-color: var(--main1);
        color: var(--white);
      }
    }
  }
}
