#header {
  position: relative;
  z-index: 999;
  background-color: var(--white);
}

.h-nav {
  // position: absolute;
  width: 100%;
  // padding: 16px 0;
  transition: top 1s;
  // border-top: 1px solid rgba(255, 255, 255, 0.3);
  // border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  @media #{$md} {
    padding: 8px 0;
  }
  @media #{$sm} {
    padding: 0;
    border: none;
  }
  a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  a,
  span {
    line-height: 16px !important;
  }
  .mega-menu-toggle {
    @media #{$md} {
      height: 0 !important;
      overflow: hidden;
    }
  }
  .h-nav__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    @media #{$sm} {
      flex-direction: row-reverse;
    }
    .navbar__navigation {
      flex: auto;
    }
    .h-nav__buttons {
      display: flex;
      gap: 20px;
      @media #{$md} {
        gap: 3px;
      }
      a {
        text-align: center;
        @media #{$md} {
          font-size: 14px;
          padding: 5px 10px;
        }
        @media #{$xs} {
          font-size: 10px;
          padding: 0px 5px;
        }
      }
    }
  }
}

// .mega-menu-item:not(.mega-menu-flyout) {
//   .mega-sub-menu {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: stretch;
//     gap: 10px;
//     padding: 10px !important;
//     @media #{$sm} {
//       display: none;
//       padding: 0px !important;
//     }
//     li {
//       width: 33.333% !important;
//       padding: 5px !important;

//       text-align: center !important;

//       @media #{$sm} {
//         width: 100% !important;
//         padding: 5px !important;
//       }

//       a {
//         background-color: var(--main) !important;
//         min-height: 31px !important;
//         font-size: 11px !important;
//         text-align: center !important;
//         color: var(--main1) !important;
//         align-items: center !important;
//         justify-content: center;
//         display: flex !important;
//         height: 100% !important;
//         width: 100% !important;
//         padding: 10px 2px !important;
//         height: 50px !important;
//         // min-width: 247px !important;
//         font-weight: 500 !important;
//         @media #{$sm} {
//           height: 100% !important;
//         }
//         &:hover {
//           background-color: var(--main1) !important;
//           color: var(--main) !important;
//         }
//       }
//     }
//     .mega-current_page_item {
//       > a,
//       > span {
//         color: var(--main) !important;
//       }
//     }
//   }
// }

// .h-nav.fixed {
//   background-color: var(--white);
//   #mega-menu-primary_menu {
//     a,
//     span {
//       color: var(--black) !important;
//       &:hover {
//         color: var(--main) !important;
//       }
//       @media #{$sm} {
//         color: var(--white) !important;
//         &:hover {
//           color: var(--main) !important;
//         }
//       }
//     }
//     .mega-sub-menu {
//       @media #{$sm} {
//         a,
//         span {
//           color: var(--black) !important;
//           &:hover {
//             color: var(--main) !important;
//           }
//         }
//       }
//     }
//     .mega-current_page_item {
//       > a,
//       > span {
//         color: var(--main) !important;
//       }
//     }
//     .mega-current_page_item.mega-menu-item:not(.mega-menu-flyout) {
//       li {
//         a {
//           color: var(--main1) !important;
//           &:hover {
//             color: var(--main) !important;
//           }
//         }
//       }
//     }
//   }
// }

.no-title {
  position: relative;
  .h-middle {
    background-color: var(--white);
    position: relative;
  }
  .entry-header {
    background: none;
    margin-bottom: 0px !important;
    .entry-header__wrap {
      margin-top: 50px !important;
      margin-bottom: 0;
      width: 100% !important;
    }
  }
  .search-toggle {
    path {
      fill: var(--black);
    }
  }
  // #mega-menu-primary_menu {
  //   a,
  //   span {
  //     color: var(--black) !important;
  //     &:hover {
  //       color: var(--main) !important;
  //     }
  //     @media #{$sm} {
  //       color: var(--white) !important;
  //       &:hover {
  //         color: var(--main) !important;
  //       }
  //     }
  //   }
  //   .mega-current_page_item {
  //     a,
  //     span {
  //       color: var(--main) !important;
  //     }
  //   }
  // }
  .h-nav {
    position: relative;
    // border-bottom: 1px solid rgba(211, 211, 211, 0.3);
    // border-top: 1px solid rgba(211, 211, 211, 0.3);
    // margin-bottom: 50px;
  }
  .h-nav.fixed {
    position: fixed;
  }
}
// .single-post {
//   .h-nav {
//     #mega-menu-primary_menu {
//       a,
//       span {
//         color: var(--black) !important;
//         &:hover {
//           color: var(--main) !important;
//         }
//         @media #{$sm} {
//           color: var(--white) !important;
//           &:hover {
//             color: var(--main) !important;
//           }
//         }
//       }
//       .mega-current_page_item {
//         a,
//         span {
//           color: var(--main) !important;
//         }
//       }
//     }
//   }
// }
// #mega-menu-wrap-primary_menu:has(.mega-menu-open)
//   #mega-menu-primary_menu[data-effect-mobile^="slide_"]
//   + button.mega-close {
//   // z-index: 99999999999 !important;

//   background-color: var(--main);
// }

// #mega-menu-primary_menu {
// }
// .mega-btn {
//   background-color: var(--main) !important;
//   border-radius: 3px !important;
//   text-align: center;
//   a {
//     color: var(--white) !important;
//     text-align: center !important;
//   }
// }
